<div id="container">
    <div id="header">
        <div class="baniere"><img src="/images/sixvoix.png" alt="SIXVOIX l'encyclopédie des stars" /> </div>
    </div>
    <div class="menu_haut">
      <ul>
        <li><a href="/vip">VIPS</a></li>
        <li class="traitVertical"><a href="/ajoutphoto">PHOTOS</a></li>
      </ul>
    </div>
    <div id="contenu">
        <br/>
        <br/>
