<div id="menuV">
  <img src="images/photos.png" alt="Photos" id="imgMenuV">
  <a href="ajoutphoto"><li class="liMenuV">Ajouter</li></a>
  <a href="supprrimerphoto"><li class="liMenuV">Supprrimer</li></a>
</div>
