<div class="menuSelection">
  <div class="baniereMenu">
    <img src="/images/vips.png" alt="vips">
  </div>

  <div class="lienAdministrationVips">
    <ul>
      <li><a href="./AjouterVip"> Ajouter</a> </li>
      <li><a href="./ModifierVip"> Modifier </a> </li>
      <li><a href="./SupprimerVip"> Supprimer</a> </li>
    </ul>
  </div>
</div>
