<div class="menuSelection" id="menuV">
  <img id="imgMenuV" src="/images/vips.png" alt="vips">

  <a href="./ajouterVip"> <li class="liMenuV"> Ajouter</li></a>
  <a href="./modifierVip"><li class="liMenuV"> Modifier </li></a>
  <a href="./supprimerVip"><li class="liMenuV"> Supprimer </li></a>

</div>
