<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <link rel="shortcut icon" type="image/png" href="/css/etoile.ico" sizes="16x16"/>
        <link rel="stylesheet" href="/css/structure.css" />
        <link rel="stylesheet" href="/css/monCss.css" />
        <title> {{title}}</title>
    </head>
    <body class="monBody">
      {{{body}}}
      <script src="/js/jquery.js"></script>
    </body>
</html>
