{{>debBody}}
{{>menuVip}}


<div class="text-A_L width_75pc">
    <p class="position-R_T8 margin-L_5 background-C_W width_43">Ajout VIPs</p>


    <div class="border padding_5">
      <tbody>
        <tr>
          <td>Nom* :</td>
          <td> <input type="text" name="Nom" value="" style="width:50px;" maxlength="20"> </td>
        </tr>

        <tr>
          <td>Prénom* :</td>
          <td> <input type="text" name="Prenom" value="" style="width:50px;" maxlength="20"> </td>
        </tr>

        <tr>
          <td>Sexe :</td>
          <td>
            <select class="Sexe" name="">
              <option value="Masculin">Masculin</option>
              <option value="Féminin">Féminin</option>
            </select>
           </td>
        </tr>

        <tr>
          <td>Date de naissance :</td>
          <td> <input type="date" name="dateDeNaissance" value="jj/mm/aaaa"> </td>
        </tr>

        <tr>
          <td>Nationalité :</td>
          <td>
            <select class="Nationalité" name="Nationalité">
              {{#each getNationalite}}
                <option value="{{this.NATIONALITE_NUMERO}}">{{this.NATIONALITE_NOM}}</option>
              {{/each}}
            </select>
          </td>
        </tr>

        <tr>
          <td>Commentaire :</td>
          <td></td>
        </tr>

        <tr>
          <td>Sélectionner l'image :</td>
          <td></td>
        </tr>

      </tbody>
    </div>


</div>


{{>finBody}}
