<div class="margin-T_100">
  <h3 class="color_W">Administration</h3>
  <form class="" action="/admin" method="post">
    <table class="margin_A text-A_L margin-B_20">
      <tr>
        <td><h4 class="color_W display_IB">Login :</h4></td>
        <td><input type="text" name="log" value="" required></td>
      </tr>
      <tr>
        <td><h4 class="display_IB color_W margin-R_10">Mot de passe :</h4></td>
        <td><input type="password" name="pwd" value="" required></td>
      </tr>
    </table>

  <input type="reset" name="" value="Annuler">
  <input type="submit" name="" value="Connexion">
  </form>
</div>
