<div id="container">
    <div id="header">
        <div class="baniere"><img src="/images/sixvoix.png" alt="SIXVOIX l'encyclopédie des stars" /> </div>
    </div>
    <div class="menu_haut">
      <ul>
        <li><a href="/AdministrationVip">VIPS</a></li>
        <li class="traitVertical"><a href="/photo">PHOTOS</a></li>
      </ul>
    </div>


    <div id="contenu">
        <br/>
        <br/>
        {{{body}}}


        <div class="menuSelection">
          <div class="baniereMenu">
            <img src="/images/vips.png" alt="vips">
          </div>

          <div class="lienAdministrationVips">
            <ul>
              <li><a href="./AjouterVip"> Ajouter</a> </li>
              <li><a href="./ModifierVip"> Modifier </a> </li>
              <li><a href="./SupprimerVip"> Supprimer</a> </li>
            </ul>
          </div>
        </div>

        <h1>Gestion des vips !!!</h1>
    </div>








    <div id="footer">
        L'encyclopédie des stars depuis février 2017 (en NodeJS)
        <br />
        © IUT du Limousin DUT Informatique année 2
        <br />
        Appllication réalisée par Valentin TURPAULT (mettre vos noms)
        <br />
        <img src="/images/nodejs.png" id= "LogoNode" alt="Logo NodeJs" title="Logo Node.JS" />
    </div>
</div>
